body {
}

.bg-light {
    background-color: #502864 !important;
}
body > nav > a > img {
    width: 200px;
}
.navbar-brand{
    margin: 0;
    padding: 0;
}
.navbar.navbar-expand-lg.navbar-light.bg-light{
    padding: 0;
}
.nav-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 20pt;
    font-weight: bold;
    font-family: "Arial", "Verdana";
}
a.nav-link {
    color: #ffffff !important;
}
li.nav-item {
    padding-right: 10px;
}
.pol{
    width: 60%;
    min-width: 300px;
    text-align: center;
    margin: auto;
    padding: 0;
}
.line{
    background-color: rgb(80, 40, 100);
    color: #ffffff;
}

@media only screen and (max-width : 768px){
    .navbar-nav .nav-link{
        padding-left: 30px;
    }
}
